<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<include file="$(find pose_to_tf_publisher)/launch/pose_to_tf_publisher.launch">
		<arg name="odometry_topic" default="/husky_velocity_controller/odom"/>
		<arg name="map_frame_id" default="odom"/>
		<arg name="odom_frame_id" default=""/>
		<arg name="base_link_frame_id" default="base_link"/>
		<arg name="publish_rate" default="-1"/>
		<arg name="publish_initial_pose" default="false"/>
		<arg name="transform_pose_to_map_frame_id" default="false"/>
	</include>
</launch>
